@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <!-- Contenido principal -->
    <h1 class="display-4 text-primary text-center">Welcome to my Portfolio</h1>
    <h2 class="text-success text-center">Hello, I'm Michael Aguilar, a passionate .NET Developer.</h2>

    <h2 class="text-secondary">Skills</h2>
    <ul>
        <li>Databases: Proficiency in databases like Microsoft SQL Server , MySQL, PostgreSQL, and MongoDB is important for working with different data sets.</li>
        <li>.NET Core: The ability to build apps for different platforms and architectures using .NET Core is essential.</li>
        <li>Problem solving: The ability to think critically and develop innovative solutions to business problems.</li>
        <li>Communication: The ability to communicate verbally and in writing, listen, and present information.</li>
        <li>Time management: The ability to prioritize tasks and meet deadlines when working on multiple projects simultaneously.</li>
        
        <li>
           
            Hosting Platforms:<br />
            1. <a href="https://somee.com/" class="btn btn-link" target="_blank"> somee.com</a>   <br />
            Provides free and paid hosting for ASP.NET applications and SQL Server databases.
            Ideal for small projects and application testing.
            Support for ASP.NET MVC applications and Web API, with easy database configuration.<br />
            2.<a href="https://www.smarterasp.net/" class="btn btn-link" target="_blank"> SmarterASP.NET</a>   <br />
            Hosting service specialized in ASP.NET technologies.
            It offers free and paid plans with support for SQL Server databases.
            Includes tools for deploying .NET applications, including integration with Visual Studio.<br />
            3.<a href="https://render.com/" class="btn btn-link" target="_blank">Render.com </a>    <br />
            Modern cloud hosting platform.
            Compatible with .NET Core, Blazor, Node.js applications, among others.
            Direct integration with GitHub and CI/CD to automatically deploy projects.<br />

        </li>

        
        <li>
            <a href="https://www.docker.com/" class="btn btn-link" target="_blank">  Docker </a>     for Deployment
            Using Docker to containerize ASP.NET MVC and Blazor applications.
            Creating custom Docker images for development and production environments.
            Using Docker Compose to configure additional services such as databases (PostgreSQL, MongoDB).
            Deploy on platforms such as Azure, AWS, Render, or on local servers.
        </li>
        <li>
            <a href="https://git-scm.com/" class="btn btn-link" target="_blank"> Git</a> Version Control
            
            Project management through branches, merge, and conflict resolution.
            Efficient use of commands such as git clone, git commit, git push, and git pull.
        </li>
        <li>
            <a href="https://github.com/" class="btn btn-link" target="_blank"> GitHub</a>
            Storage and collaboration on projects.
            Configuring GitHub Actions for CI/CD workflows.
            Publishing portfolios or web applications using Netlify or GitHub Pages.

        </li>
        <li>
            Forms:
            Forms in MVC:

            Using HTML to build dynamic and secure forms.
            Client and server side validation with DataAnnotations ([Required], [MaxLength], [Range]).
            Customizing styles with Bootstrap for responsive forms.

            Forms in Blazor:

            Using components like <EditForm>
                , <InputText>
                    , <InputNumber>
                        , and <ValidationSummary>
                            Integration with DataAnnotationsValidator to validate models.
                            Real-time communication with interactive forms and events such as onchange and onsubmit.
        </li>
        <li>
            <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" class="btn btn-link" target="_blank">Boostrap</a>  The world’s most popular framework for building responsive, mobile-first sites, with jsDelivr and a template starter page
        </li>
        <li>C# programming: The ability to use C#, a versatile programming language that integrates with the Net 6 , Net 8. Visual Studio 2022, Visual Studio Code</li>
    </ul>


    <h3 class="text-info">Personal Projects</h3>
    <br />
    <h4 class="text-primary">MVC Ecommerce</h4>
    <p>
        Description: Online store sample, a demo designed to offer an intuitive and complete shopping experience.
        Here you can explore a range of products organized into categories, making it easy to search and select what you need.

        This demo allows you to manage products and categories efficiently, with functions to add, edit and delete products in real time. In addition, you can enjoy a dynamic shopping experience, adding products to your cart and sending your order by WhatsApp or email quickly and conveniently.

        If you are looking for a professional online store for your products and want to expand your reach, feel free to contact me. I'm here to help you grow your business. Explore, select and discover the future of your online store!
        <br />
        Click aqui para visitar <a class="btn btn-link">MVC Ecommerce</a>
        <br />
        Description : Muestra de tienda en línea, una demostración diseñada para ofrecer una experiencia de compra intuitiva y completa.
        Aquí puedes explorar una gama de productos organizados en categorías, facilitando la búsqueda y selección de lo que necesitas.

        Esta demo permite administrar productos y categorías de manera eficiente, con funciones para agregar, editar y eliminar productos en tiempo real. Además, puedes disfrutar de una experiencia de compra dinámica, añadiendo productos a tu carrito y enviando tu pedido por WhatsApp o email de forma rápida y conveniente.

        Si estás buscando una tienda en línea profesional para tus productos y deseas ampliar tu alcance, no dudes en contactarme. Estoy aquí para ayudarte a hacer crecer tu negocio. ¡Explora, selecciona y descubre el futuro de tu tienda online!
        <br />
        Click aqui para visitar <a class="btn btn-link">MVC Ecommerce</a>
        <br />
    </p>
    <h4 class="text-primary">Blazor Server Ecommerce</h4>
    <p>
        Description : Sitio web construido para un ecommerce online que cuenta la administracion de categorias, productos.Cuenta con  con funciones para agregar, editar y eliminar productos en tiempo real. Además, puedes disfrutar de una experiencia de compra dinámica, añadiendo productos a tu carrito y enviando tu pedido por WhatsApp o email de forma rápida y conveniente.
        <br />
        Click aqui para visitar <a class="btn btn-link">Blazor Ecommerce</a>
        <br />
        </p>
    <h4 class="text-primary">Blazor Cars Crud</h4>
    <p>Description : Este web site utiliza la novedosas tecnolgias de Blazor server que permite crear,editar, consultar,eliminar Cars de manera efeciente
        <br />
        Click aqui para visitar <a href="https://blazorcudcars01.onrender.com" target="_blank" class="btn btn-link">Blazor Cars Managment</a>
        <br />
    </p>
    <h4 class="text-primary">Employees Managment</h4>
    <p>
        Description : Este sitio web esta construido utilizando el moderno angular v15 , typescript, permite administrar , crear,editar, buscar y eliminar empleados de manera elegante mediante la tecnologia SPA de angular!
        <br />
        Click aqui para visitar
        <a href="https://app-employees-01-michaelaguilar.netlify.app" target="blank" class="btn btn-link">Employees Managment</a>
        <br />
    </p>
</div>
